body {
    font-family: sans-serif;
}
.header {
    background-color: burlywood;
    color: #fff;
    height: 100px;
    padding: 0px 10%;
}
.header-logo img {
    width: 70px;
    height: 70px;
    float: left;
    font-size: 30px;
    padding: 15px 30px;
    color: black;
}
.header-index a {
    float: right;
    padding: 38px 20px;
    color: black;
}
.footer {
    background-color: burlywood;
    height: 100px;
    padding: 0px 10%;
}
.footer-feedback {
    padding: 20px 40px;
}
.footer-copyright {
    float: right;
    padding-right: 10px;
}
.contents {
    padding: 100px;
}
.error-title h1 {
    font-size: 50px;
}