body {
    font-family: "Yu Gothic";
}
.header {
    background-color: burlywood;
    color: #fff;
    height: 100px;
}
.header-logo {
    float: left;
    font-size: 30px;
    padding: 28px 20px;
    color: black;
}
.header-index a {
    float: right;
    padding: 38px 20px;
    color: black;
}
.footer {
    background-color: burlywood;
    height: 100px;
}
.footer-feedback {
    padding: 20px 40px;
}
.counter-script {
    padding-left: 20px;
}
.footer-copyright {
    float: right;
    padding-right: 10px;
}
.contents {
    padding: 10px 10%;
}
.contents h1 {
    font-style: italic ;
    font-size: 40px;
}
.link a {
    font-size: 25px;
}
.intro p {
    font-size: 20px;
}
.link {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.link img {
    width: 100px;
}
.notice1 {
    padding: 10px;
    border: 3px double;
}
.notice1 h3 {
    border-bottom: 1px solid;
}
/* お知らせの書き方
.notice- {
    padding: 10px;
    border: 3px double;
}
.notice- h3 {
    border-bottom: 1px solid;
}
以上 */