body {
    font-family: "Yu Gothic";
}
li {
    list-style: none;
  }
.header {
    background-color: burlywood;
    color: #fff;
    height: 100px;
    width: 100%;
}
.header-logo {
    float: left;
    font-size: 30px;
    padding: 28px 20px;
    color: black;
}
.header-index a {
    float: right;
    padding: 38px 20px;
    color: black;
}
.footer {
    background-color: burlywood;
    height: 100px;
}
.footer-feedback {
    padding: 20px 40px;
}
.footer-copyright {
    float: right;
    padding-right: 10px;
}
.contents {
    padding: 10px 20%;
}
.title {
    border-bottom: 1px solid gray;
}
.main-pc img {
    float: left;
}
.main-pc p {
    font-size: 12px;
}
.sub1-pc img {
    float: left;
}
.sub1-pc p {
    font-size: 12px;
}
.sub2-pc img {
    float: left;
}
.sub2-pc p {
    font-size: 12px;
}
.old1-pc img {
    float: left;
}
.old1-pc p {
    font-size: 12px;
}
.old2-pc img {
    float: left;
}
.old2-pc p {
    font-size: 12px;
}
.old3-pc img {
    float: left;
}
.old3-pc p {
    font-size: 12px;
}
.old1-server img {
    float: left;
}
.old1-server p {
    font-size: 12px;
}
.old1-server u {
    color: red;
}